<configuration>

    <property resource="application.properties" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %r [%t] %-5p %c :: %m%n" />
    <property name="APP_LOG_ROOT" value="${logging.file.path}"/>
     
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
 
    <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${logging.file.name}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${logging.file.name}-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${logging.file.max-size}</maxFileSize>
        </triggeringPolicy>
    </appender>
    
    <appender name="serviceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${logging.file.name}-service.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${logging.file.name}-service-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${logging.file.max-size}</maxFileSize>
        </triggeringPolicy>
    </appender>
    
    <appender name="hibernateLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/database.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/database-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${logging.file.max-size}</maxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="com.example.slf4j" level="DEBUG">
        <appender-ref ref="applicationLog" />
        <appender-ref ref="console" />
    </logger>
     
    <logger name="com.example.slf4j" level="INFO">
        <appender-ref ref="applicationLog" />
        <appender-ref ref="console" />
    </logger>     
 
     <logger name="com.example.slf4j.service" level="INFO">
        <appender-ref ref="serviceLog" />
        <appender-ref ref="console" />
    </logger>
    <Logger name="org.hibernate" additivity="false" level="error">
        <AppenderRef ref="hibernateLog" />
        <AppenderRef ref="console"/>
    </Logger>
     <root level="info">
        <appender-ref ref="console" />
     </root>
      
</configuration>